---
layout: default
title: Family Christmas Rotation
---

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="christmas-rotation.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="lds.css"> -->

{% raw %}
<div ng-app="christmas-rotation-app">
  <h2>Family Christmas Rotation</h2>
  <br/>
  <div ng-controller="defaultCtrl">
    <form>
      <label>Year</label>
      <select ng-model="selectedYear" ng-options="year for year in range(currentYear, 2030)"></select>
    </form>
    <br/>
    <table>
      <!-- <tr>
        <th>Family</th><th>has</th><th>Family</th>
      </tr> -->
      <tr ng-repeat="n in range(0, participantCount - 1)">
        <td>{{participants[n]}}</td>
        <td>&nbsp;->&nbsp;</td>
        <td>{{participants[(n + getOffset()) % participantCount]}}</td>
      </tr>
    </table>
  </div>
</div>
{% endraw %}
