<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/lightbox/lightbox-2.6.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.highlight').wrap("<div class=\"code-wrapper\"></div>");
        $('.highlight').css('background-color', 'inherit');
        $('.blog-post img').each(function() {
            var img = $(this)
            var src = $(this).attr('src')
            var group = $(this).closest('.blog-post').children('.post-title').children().first().html()
            $(img).wrap( 
                $('<a>').attr({ href: src, "data-lightbox": group })
            );
        });
    })
    </script>

    <link href="/assets/css/reset.css" type="text/css" rel="stylesheet" />
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pygments/solarized-dark.css" type="text/css" rel="stylesheet" />
    <link href="/assets/css/lightbox/lightbox.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <div id="content-wrapper">
            <header>
                <p><h1><a href="/">Tumbleweed between the temples</a></h1></p>
            </header>
        