<div class="blog-post">
    <h3 class="post-title">
        {% if post.url %}
            <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        {% else %}
            <span>{{ page.title }}</span>
        {% endif %}
        <br/>
        <span class="post-meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</span>
    </h3>
    <div class="post-content">
        {{ post.excerpt }}
        <a href="{{ post.url }}">Keep reading</a>
    </div>
    <div class="post-footer">
        <p class="post-meta">
            {% if post.tags %}
                <a href="/archive.html">Tags:</a>
                {{ post.tags | array_to_sentence_string }}
            {% endif %}
        </p>
    </div>
</div>
    