<div class="blog-post">
    <h3 class="post-title">
        {% if post.url %}
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        {% else %}
        <span>{{ page.title }}</span>
        {% endif %}
    </h3>
    <div class="post-content">{{ content }}</div>
    <p class="post-meta">
        {% if post.date %}
            <span>Posted on {{ post.date | date: "%B %-d, %Y" }}</span>
        {% else %}
            <span>Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
        {% endif %}
        <br/>
        <a href="/archive.html">Tags:</a>
        {% if post.tags %}
            {{ post.tags | array_to_sentence_string }}
        {% else %}
            {{ page.tags | array_to_sentence_string }}
        {% endif %}
    </p>
</div>
    